body{
    
    margin: 0px;
    background-color: lightblue;
}

.divlogin{
    
    width: 15%;
    margin: auto;
    
}

.divimgregistro{
    
    width: 15%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.divregistro{
    
    width: 25%;
    margin: auto;
}

.errorlogin{
    
    background-color: lightyellow;
    text-align: center;
}

.errorregistro{
    
    background-color: lightyellow;
    text-align: center;
}

a{
    
    font-size: 15px;
}

.divimgprincipal{
    
    width: 10%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}


.imgprincipal{
    
    width: 100%;
}

.imgregistro{
    
    width: 80%;
    margin: auto;
}

.buttonreiniciar{
    
    margin-left: 10%;
}


.inputsregistro{
    
    width: 100%;
}

label{
    
    font-size: 17px;
    padding-right: 69%;
}

.buttonregistro{
    
    width: 100%;
    margin: auto;
}

.divbienvenido{
    
    font-size: 20px;
    padding-right: 100px;
}


